.wrapper {
  width: 337px;
  max-width: 100%;
  position: fixed;
  top: 84px;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  border-radius: 3px;
  background-color: #333333;
  padding: 14px 21px;
}

.header-text {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.close-modal {
  width: 20px;
  height: 20px;
  background-color: #555555;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  color: #333333;
  position: absolute;
  right: 14px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.body {
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  padding: 13px 19px;
  box-sizing: border-box;
}

