.header {
  width: 136px;
  height: 16px;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
}

.body {
  width: 170px;
  height: 76px;
  font-size: 13px;
  line-height: 1.38;
  color: #aaaaaa;
}