.rectangle {
	max-width: 700px;
	height: 896px;
	opacity: 0.6;
	background-color: #000000;
	padding: 113px 150px 0;
	box-sizing: border-box;
}

@media screen and (max-width: 700px) {
	.rectangle {
		height: 100vh;
		padding: 113px 20px 0;
	}

}