@import "../../vars";

.password_wrapper {
  position: relative;
}

.show {
  font-size: 12px;
  color: $clr_light;
  position: absolute;
  top: 16px;
  right: 10px;
  cursor: pointer;
}

.actions {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: baseline;

  @media screen and (max-width: 300px) {
    display: block;
  }

  button {
    cursor: pointer;
    width: 110px;
    line-height: 2.6;
    border-radius: 3px;
    background-color: $clr_contrast;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: $clr_lightest;
  }

  > div:last-child {
    text-align: right;
  }
  a {
    font-size: 13px;
    color: $clr_light;
  }
}

